<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_campus</key>
	<string>seattle</string>
	<key>scout_host</key>
	<string>http://curry.aca.uw.edu:8001/h</string>
</dict>
</plist>
