<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8540344E1CB5AE5100C0C7FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854034641CB5AE5100C0C7FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8540346F1CB5AE5100C0C7FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
